<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
        <!-- <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <script src="{% static "js/jquery.js" %}"></script> -->
    </head>

    <body>
        <h1>Rango says...</h1>
        here is the about page.
        <div>
            hey there partner! <br />
            <strong>This tutorial has been put together by Lei Zhou</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
            <img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of a Cat." /> 
    </body>
</html>